/* This is a single-line comment */
body{
    text-align: center;
}
section{
    background-color: green;
}
.red {
    background-color: red;
    text-align: center;
    width: 80%;
}


/* This is a single-line comment */
svg {
    text-align: center;
}
h2 {
    text-align: center;
}


/* This is a single-line comment */




/* This is a single-line comment */




/* This is a footer comment */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
   display: block;
   color: gray;
   padding: 16px;

}